@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bgColor: #333;
    --textPrimaryColor: #fff;
    --textSecondaryColor: #666;
    --accentColor: #fd4;
}

div {
    user-select: none; /* Disables text selection */
}


body {
    font-family: "Roboto", sans-serif;
    background-color: var(--bgColor);
    color: var(--textPrimaryColor);
    font-size: 1.4rem;
}

main {
    width: 600px;
    margin: 50px auto;
}


h1 {
    color: var(--accentColor);
    user-select: none; /* Disables text selection */
}

h1 svg {
    width: 40px;
    fill: var(--accentColor);
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
}

#buttons {
    text-align: right;
}

#info {
    color: var(--accentColor);
}

button {
    background: rgba(255, 255, 255, .2);
    border: 0;
    color: rgba(255, 255, 255, .5);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

div#game {
    line-height: 35px;
    height: 105px;
    overflow: hidden;
    position: relative;
}

div:focus, input:focus{
    outline:none;
}

#newGameButton{
    outline:none;
    font-family: 'Roboto Mono', monospace;
    transform: translateX(-30px);
}

div #game:focus {
    outline: 0;
}

#words {
    filter: blur(5px);
    color: var(--textSecondaryColor);
}

#game:focus #words {
    filter: blur(0);
}

#focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 35px;
    font-family: 'Roboto Mono', monospace;
}

#game:focus #focus-error {
    display: none;
}


div.word {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px;

}

.letter.correct {
    color: #fff;
}

.letter.incorrect {
    color: #f55;
}

/* Cursor Blinking Animation */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#cursor {
    display: none;
    width: 2px;
    height: 1.6rem;
    background-color: var(--accentColor);
    position: fixed;
    top: 193px;
    animation: blink 1s infinite;   
}

#game:focus #cursor {
    display: block;
}

#game.over #words{
    opacity: .5;
    filter: blur(0px);
}

#games.over:focus #cursor{
    display: none;
}

#game.over #focus-error{
    display: none;
}



